<div id="logo"></div>
<div id="header"></div>

<h1>Recent Questions</h1>
<table class="questions">
<% @questions.each do |question| %>
  <tr>
    <td><%= question.prompt %></td>
    <td style="color:<%= question_color(question).css_rgb %>" class="stats">
      <% if question.responses.length > 0 %>
        
        <% if question.majority_response_type == question.RESPONSE_OPTIONS[0] %>
          <div class="number yes">
            <%= (question.yes_fraction * 100).to_i %>% <span>yes</span></div>
          <div class="desc">
            <span><%= question.no_votes.length %>% no</span>
            <span><%= question.undecided_votes.length %>% undecided</span>
          </div>

        <% elsif question.majority_response_type == question.RESPONSE_OPTIONS[1] %>
          <div class="number no"><%= (question.no_fraction * 100).to_i %>% <span>no</span></div>
          <div class="desc">
            <span><%= question.yes_votes.length %>% yes</span>
            <span><%= question.undecided_votes.length %>% undecided</span>
          </div>

        <% else question.majority_response_type == question.RESPONSE_OPTIONS[2] %>
          <div class="number no"><%= (question.undecided_fraction * 100).to_i %>% 
            <span>undecided</span>
          </div>
          <div class="desc">
            <span><%= question.yes_votes.length %>% yes</span>
            <span><%= question.no_votes.length %>% no</span>
          </div>
        <% end %>
      <% end %>
      <div class="desc"><%= question.responses.length %> responses</div>
    </td>
    
  </tr>
<% end %>
</table>

<div class="btn"><a href="/questions/new">Create a new question</a></div>

